@import "../../../assets/styles/common.scss";
@import '~@angular/material/theming';

.mat-expansion-panel-header {
  height: auto !important;
  min-height: 86px;
}

.address-info {
  .mat-form-field {
    padding-right: 12px;
    width: 100%;
  }

  .actions {
    display: inline;

    button:nth-child(2) {
      margin-left: 8px;
    }  
  }

  .load-info {
    border: solid 2px mat-color(mat-palette($mat-grey));
    border-radius: 5px;
    padding: 16px 8px 16px 36px;
    position: relative;
  }  
}

.profile-info {
  padding-top: 16px;
}

// sm-xl
@media screen and (min-width: 600px){
  .mat-expansion-panel-header {
    min-height: 144px;
  }
  
  .address-info {
    .mat-form-field {
      width: 320px;
    }
  }
}