@import "../assets/styles/common.scss";

:host /deep/ {
  // header, footer
  .app-footer {
    padding: 0;
    height: 56px;
    min-height: 56px;
  
    .mat-toolbar-row {
      height: 56px;
    }

    .mat-tab-nav-bar {
      width: 100%;
  
      .mat-tab-links {
        display: flex;
        background-color: $baseColor;
  
        > a {
          color: #fff;
          flex: 1;
          line-height: initial;
          padding-top: 13px;

          &.mat-tab-label-active {
            opacity: 1;
          }
        }

        .tab-title {
          line-height: 14px;
        }

        .mat-tab-link {
          display: inline-block;
          height: 56px;

          .mat-icon {
            font-size: $sizeXXl;
          }
        }

        .mat-ink-bar {
          background-color: #2BB3C0;
          height: 3px;
        }
      }
    }
  }

  // network icon
  .network {
    .mat-select-value, .mat-select-arrow {
      color: white;
    }
  }
}

// header
.app-toolber {
  @extend .shadow;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mainColor;
  color: white;
  z-index: 999;
  transition: background-color 100ms ease-in-out, width 600ms cubic-bezier(0.4, 0.0, 0.2, 1);
  

  .page-name {
    font-size: $sizeXl;
    padding-left: 16px;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      height: 22px;
    }
  }

  .network {
    @extend .shadow;
    transition: all 200ms;
    position: fixed;
    right: 8px;
    top: 5px;
    background-color: $gray;
    border-radius: 4px;
    height: 46px;
    line-height: 46px;
    width: 100px;
    display: flex;
    text-align: center;
    font-size: $sizeSm;
    padding-right: 4px;

    &.mainnet {
      background-color: $mainNetworkColor;
    }

    &.ropsten {
      background-color: $ropstenNetworkColor;
    }

    &.kovan {
      background-color: $kovanNetworkColor;
    }

    &.rinkeby {
      background-color: $rinkebyNetworkColor;
    }
  }
}

// footer
.wallet-fab {
  // @extend .shadow;
  position: fixed;
  bottom: 16px;
  right: 8px;
  text-align: center;
  background-color: $mainColor;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  > div {
    width: 100%;
  }

  .value {
    font-size: $sizeMd;
    line-height: $sizeMd;
    font-weight: bold;
  }

  .address {
    font-size: $sizeXs;
    line-height: $sizeXs;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
    width: 70px;
  }

}

// side nav
.app-sidenav {
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  
  .footer {
    width: 100%;
    line-height: 44px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;

    .donation {
      padding: 0 32px;

      input {
        opacity: 0;
      }
    }

    .copyright {
      span {
        padding-right: 4px;
      }
  
      a {
        color: white;
      }        
    }
  }
}

:host /deep/ {
  .mat-sidenav-container, .mat-sidenav-content {
    position: initial;
    overflow: initial!important;

    .app-sidenav {
      .mat-list-item {
        transition: all 200ms;

        &.is-active {
          span {
            transform: scale(1.1);
          }
          font-weight: bold;
        }
      }
    }
  }
}

.app-sidenav {
  @extend .shadow;
  background: $baseColor;

  mat-toolbar {
    @extend .shadow;
    background: $mainColor;
    color: white;
  }

  .mat-list-item {
    color: white;
  }
}

/**
 * menu style & actions
 */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 400ms;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 25px;
  height: 22px;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 9px;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  &.active {
    span {
      &:nth-of-type(1) {
        transform: translateY(9px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-9px) rotate(45deg);
      }
    }
  }
}

// sm-xl
@media screen and (min-width: 600px){
  .app-toolber {
    .network {
      right: 16px;
      // top: 22px;
      top: 10px;
    }
  }
}