<mat-toolbar class="page-header dummy"></mat-toolbar>

<div class="app-container">
  <div class="app-inner">
    <div class="history-info">
      <h1>History</h1>
      <div *ngIf="(txHashes$ | async)?.length > 0; then thenBlock; else elseBlock"></div>

      <ng-template #thenBlock>
        <mat-card *ngFor="let txHash of txHashes$ | async;">
          <div class="network">{{this.etherscanUrl[txHash.networkId].name}}</div>
          <div>
            <a (click)="openLink(txHash)">{{txHash.hash}}</a>
          </div>
        </mat-card>
      </ng-template>

      <ng-template #elseBlock>
        <p #elseBlock>No data found.</p>
      </ng-template>

    </div>
  </div>
</div>
